    #wrapper{
        width: 95%;
    }
    body {
        margin: 0;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #227093;
        background-image: url(1b535691-9254-4362-a193-be3914659ca7.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    h1 {
        color: #ffffff;
        size: 10rem;
        
    }
    
    
    
    
    
    header {
        grid-area: head;
        background-image: url(1781112f-6200-4d4d-a68f-24a79acec159.jpeg);
    }
    nav {
        grid-area: nav;
        text-align: center;
        background-image:url(img.jpeg);
        
    }
    nav a {
        color: rgb(82, 82, 82);
        text-decoration: none;
    }
    nav li {
        list-style: none;
        display: flex;
        gap: 2rem;
        
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        
    }
    
    main {
        grid-area: main;
        text-align: center;
        color: white;
        background-color: rgb(95, 95, 95);
        
    }
    aside {
        grid-area: A;
        background-image: url(img.jpeg);
    }
    footer {
        grid-area: F;
        background-image: url(img.jpeg);
    }
    #wrapper {
        min-height: 100vh;
        margin: auto;
        display: grid;
        grid-template:
        "nav"  "nav"  "nav"  auto
        "head" "head" "head" auto
        "main" "main" "main" auto
        "A" auto
        "F" auto;
    }
    a{
        text-decoration: none;
        color:rgb(82, 82, 82) ;
    }
    h2{
         display: flex;
         justify-content: center;
    }