    body {
        margin: 0;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #227093;
        background-image: url(img.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    h1 {
        color: #ffffff;
        size: 10rem;
        
    }
    
    
    
    
    
    header {
        grid-area: head;
    }
    nav {
        grid-area: nav;
        text-align: center;
        background-image:url(img.jpeg);
    }
    nav a {
        color: rgb(82, 82, 82);
    }
    nav li {
        list-style: none;
        display: flex;
        gap: 2rem;
        
    }
    nav ul{
        display: flex;
        justify-content: space-between;
    }
    
    main {
        grid-area: main;
        text-align: center;
        color: white;
        background-color: rgb(95, 95, 95);
    }
    aside {
        grid-area: A;
        background-image: url(img.jpeg);
    }
    footer {
        grid-area: F;
        background-image: url(img.jpeg);
    }
    #wrapper {
        min-height: 100vh;
        margin: auto;
        display: grid;
        grid-template:
        "nav"  "nav"  "nav"  auto
        "head" "head" "head" auto
        "main" "main" "main" auto
        "A" auto
        "F" auto;
    }